body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #252422;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

th {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    padding: 0.5em 1em;
    text-align: left;
}

td {
    border-bottom: 1px solid #ccc;
    padding: 0.5em 1em;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.row:hover {
    cursor: pointer;
}

.restaurant-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.restaurant-modal-content {
    background-color: whitesmoke;
    color: black;
    margin: 5px auto;
    border: 1px solid #252422;
    width: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20vh;
    min-height: 300px;
    height: auto;
    border-radius: 1.625rem;
    padding: 20px;
    text-align: center;
}

.restaurant-modal-content h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.restaurant-modal-content p {
    font-size: 1em;
    margin-bottom: 10px;
}